/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 Nov 2023, 7:42:04 PM
    Author     : USER
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #004040;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block ;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darkseagreen;
  color: white;

}

.active{
    background-color: #004040;
    color: black;
}